

h1 {
    color: rgb(146, 82, 82);
    text-decoration: underline; 
    font-family: fantasy;
    text-align: center;
}

h2 {
    text-align: center;
    text-decoration: underline; 
    font-family: sans-serif;
    padding-top: 70px;
}



ul {
    display: flex;
    font-family: sans-serif; 
    font-size: 20px;
    flex-direction: column;
    margin: 50px;
}

li {
    display: block;
    background-color: #f7f7f7;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
}

/* .deleteButton {
    background-color: rgb(253, 78, 78);
    margin: 15px;
    border-radius: 2px;
    color: white;
    border-width: 0px;
} */

.deleteButton:hover{
    color : red;
    background-color: white;
    border-color: white;
    font-weight: bolder;
    border-radius: 4px;
}

form {
    display: flex;
    justify-content: center;
}

.button {
margin: 4px;
padding: 10px;
text-align: center;
border-radius: 8px;
background-color: #fff;

}

button:hover {
    background-color: black;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.input {
    border-radius: 8px;
    padding: 0px 30px 0px 30px;
}

.input:hover{
    border-radius: 10px;
    background-color: azure;
}

.completed-task{
    text-decoration: line-through rgb(85, 85, 85);
    background-color: #01b1452c;
    color: rgb(0, 196, 114);
}